.filter-search-box-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 130px auto 0;
}

.select-btn {
    height: 65px;
    font-size: 22px;
    display: flex;
    align-items: center;
    width: 370px;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px black solid;
    border-radius: 50px;
    background: white;
}

.filter-search-box-content {
    /* display: none; */
    margin-top: 15px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid red;
    background: white;
    width: 450px;
}



.filter-search-box-content .filter-search-box-content-search {
    position: relative;
}

.filter-search-box-content-search i {
    left: 15px;
    color: #999;
    font-size: 20px;
    line-height: 53px;
    position: absolute;
}

.select-btn,
.filter-search-box-content-search-options li {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.filter-search-box-content-search input {
    height: 53px;
    width: 100%;
    font-size: 17px;
    padding: 0 15px 0 43px;
    border: 1px solid #b3b3b3;
    border-radius: 50px;
}

.filter-search-box-content .filter-search-box-content-search-options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
}

.filter-search-box-content-search-options::-webkit-scrollbar {
    width: 7px;
}

.filter-search-box-content-search-options::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 25px;
}

.filter-search-box-content-search-options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.filter-search-box-content-search-options li {
    height: 50px;
    padding: 0 13px;
    font-size: 21px;
    border-radius: 5px;
}

.filter-search-box-content-search-options li:hover {
    background: #f2f2f2;
}